*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.alert-warning{
    border: 1px solid rgb(139, 139, 49);
    background: rgb(218, 218, 83);
    border-radius: 16px; 
    padding: 15px;
    font-size: 13pt;
    color: white;
    font-weight: bold;
    width: 400px;
}

.alert-warning span{
    float: right;
    font-size: 15pt;
}

.alert-warning span:hover{
    cursor: pointer;
    color:rgb(139, 139, 49);
}