<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Espy</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='grids.css'>
</head>
<body>

    <div class="system-grid">
        <header> <p>Header</p> </header>
        <main> <p>Main</p>  </main>     
        <footer> <p>Footer</p> </footer>
    </div>

    <input type="checkbox" id="label-button-aside" hidden/>
    <label for="label-button-aside">
        <div class="button"> 
            <span class="linha-button"></span>
        </div>
    </label>

    <aside> <p>Aside</p> </aside>

</body>
</html>