*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .tool-bar{ 
    background:white;
    height: 85px;
    margin: 0 auto 0.5% auto;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
    padding: 25px 0 0 10px; 
}

.tool-bar-title{
    color: black;
    float: left;
}

.menu{
    float: right;
    position: relative;
    font-size: 1.4em; 
    font-weight: bold;
    margin-right: 40%;
}

.menu ul{
    list-style:none;
}

.menu ul li{ 
    margin: 0 10px 0 0;
    display: inline;
}
*/
hr{
    color: rgba(0, 0, 0, 0.198);
    margin: 0 auto 0 auto;
}

